In [85]:
import pandas as pd
import numpy as np

In [20]:
# Protein
# The sequences in the Protein dataset consist of nucleotides.
PKA = pd.read_csv("Datasets/Protein/PKA_group15.txt", sep=" ", header=None, names=["Symbol", "Position"])
SRC = pd.read_csv("Datasets/Protein/SRC1521.txt", sep=" ", header=None, names=["Symbol", "Position"])

# Reuters
# The sequences in the Reuters dataset consist of words.
acq = pd.read_csv("Datasets/Reuters/acq.txt", sep=" ", header=None, names=["Symbol", "Position"])
earn = pd.read_csv("Datasets/Reuters/earn.txt", sep=" ", header=None, names=["Symbol", "Position"])

In [21]:
PKA

     Symbol  Position
0         W         1
1         K         2
2         A         3
3         L         4
4         R         5
...     ...       ...
5646      L        11
5647      H        12
5648      R        13
5649      G        14
5650      A        15

[5651 rows x 2 columns]

In [24]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [25]:
def open_file(path1, path2):
    """ This function permit to open txt files

    Arguments :
        * path1 : The path to go the positive file
        * path2 : The path to go the negative file

    """
    po = open(path1, "r")
    positive = po.readlines()  # .read()

    ne = open(path2, "r")
    negative = ne.readlines()  # .read()

    return positive, negative

In [26]:
def get_itemset(datas):
    """ This function permit to obtain all items present in the data file. 

    Argmuents : 
        * datas : All the datas from the file considered

    Return : 
        * itemset : The set of all items

    """
    itemset = []
    for line in datas:
        # index = -1
        if len(line) > 1:
            if line[0] not in itemset:
                itemset.append(line[0])
    itemset = sorted(itemset)
    return itemset

In [27]:
def get_verticalReprensentation(datas, itemset):
    """ This function permit to have vertical representation. 

    Arguments : 
        * datas : All the datas from the file considered
        * itemset : The set of all items from the file considered

    Return : 
        * The vertical representation

    """
    vertical_rep = []
    i = 0
    while i < len(itemset):
        vertical_rep.append([])
        i = i + 1

    transaction = 0

    for line in datas:
        if len(line) <= 1:
            transaction = transaction + 1
        else:
            for i in range(len(itemset)):
                if itemset[i] == line[0]:
                    tmp = [transaction, int(line[2])]
                    vertical_rep[i].append(tmp)
    return vertical_rep

In [28]:
def seq_database(datas):
    seq_data = []
    tmp = []
    for line in datas:
        if (len(line) <= 1) or (line[0] == ' '):
            if len(tmp) != 0:
                seq_data.append(tmp)
                tmp = []
        else:
            tmp.append(line[0])
    return seq_data

In [41]:
def prefixSpan(itemset, seq_data):
    result = []
    for item in itemset:
        tuples = []
        for i in range(len(seq_data)):
            check = True
            for j in range(len(seq_data[i])):
                if seq_data[i][j] == item and check:
                    tuples.append((i, j))
                    check = False
                    
        result.append(tuples)
        
    return result

In [42]:
positive, negative = open_file("Datasets/Test/positive.txt", "Datasets/Test/negative.txt")
itemset = get_itemset(negative)
seq_neg = seq_database(negative)
print(seq_neg)
q1 = prefixSpan(itemset, seq_neg)
print(q1[0])

[['C', 'B', 'B', 'A', 'B', 'B'], ['A', 'C', 'B', 'C', 'A', 'B'], ['C', 'C', 'B', 'B', 'A', 'A']]
[(0, 3), (1, 0), (2, 4)]

In [43]:
tup = (5, 'i')

In [44]:
tup

(5, 'i')

In [45]:
def seq_to_str(seq):
    str = ''
    for char in seq:
        str += char
    return str

In [46]:
seq_to_str(['A', 'B'])

'AB'

In [60]:
dico = {'oui': 5, 'non': 4, 'yes' : 6, 'no': 4}

In [61]:
list(dico)

['oui', 'non', 'yes', 'no']

In [62]:
x = list(dico.values())
print(x)

[5, 4, 6, 4]

In [63]:
x.sort()

In [64]:
x

[4, 4, 5, 6]

In [65]:
dico2 = {'oui': 5, 'non': 4, 'yes' : 6, 'no': 4}

In [72]:
for x,y in list(dico2.items()):
    print(x)
    print(y)

oui
5
non
4
yes
6
no
4

In [71]:
list(dico2.items())

[('oui', 5), ('non', 4), ('yes', 6), ('no', 4)]

In [73]:
list('abc')

['a', 'b', 'c']

In [78]:
def to_print(seq):
    to_print = '['
    for char in seq:
        to_print += char
        to_print += ','
    to_print = to_print[:-1]
    to_print += ']'
    return to_print

In [80]:
str(to_print(list('abc')))

'[a,b,c]'

In [84]:
list(np.ones(5) * -1)

[-1.0, -1.0, -1.0, -1.0, -1.0]

In [91]:
X = list(np.ones(2, dtype=int) * -1)

list

In [93]:
dir()

['In',
 'Out',
 'PKA',
 'SRC',
 'X',
 '_',
 '_10',
 '_12',
 '_14',
 '_16',
 '_17',
 '_18',
 '_19',
 '_21',
 '_44',
 '_46',
 '_49',
 '_50',
 '_51',
 '_52',
 '_56',
 '_59',
 '_6',
 '_61',
 '_64',
 '_69',
 '_7',
 '_70',
 '_71',
 '_73',
 '_79',
 '_80',
 '_81',
 '_82',
 '_84',
 '_85',
 '_87',
 '_88',
 '_89',
 '_9',
 '_92',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'acq',
 'dico',
 'dico2',
 'earn',
 'exit',
 'get_ipython',
 'get_itemset',
 'get_verticalReprensentation',
 'i',
 'itemset',
 'negative',
 'np',
 'open_file',
 'pd',
 'positive',
 'prefixSpan',
 'protein',
 'q1',
 'quit',
 'seq_database',
 'seq_neg',
 'seq_to_str',
 'to_print',
 'tup',
 'x',
 'y']

In [94]:
def to_string(seq):
    string = ''
    for item in seq:
        string += item
    return string

In [95]:
to_string(['A', 'B'])

'AB'

In [96]:
list('AB')

['A', 'B']

In [98]:
my_str = 'abcd'
my_str[:-1]

'abc'

In [100]:
pos = [[1, 2 ,3], [2, 4 ,5]]

In [101]:
pos[1][1]

4

In [102]:
pos[0].index(2)

1

In [104]:
itemset = [['C', 'B', 'B', 'A', 'B', 'B'], ['A', 'C', 'B', 'C', 'A', 'B'], ['C', 'C', 'B', 'B', 'A', 'A']]

In [105]:
len(itemset[0])

6

In [106]:
itemset[0][1]

'B'

In [109]:
branch = ['A', 'B']
branch = branch[:-1]
branch

['A']

In [110]:
branch[-1]

'A'

In [111]:
[1] * 5

[1, 1, 1, 1, 1]

In [3]:
X = [1, 2, 2, 3, 8, 4]
X.sort()

In [4]:
X

[1, 2, 2, 3, 4, 8]

In [5]:
[0] * 5

[0, 0, 0, 0, 0]

In [6]:
'oui' == 'oui'

True

In [7]:
words = ['aaa', 'bbb']
'aaa' in words

True

In [8]:
X = ['AAA']

In [15]:
X = ['AAA', 'BBB']
X[:-1]

['AAA']

In [16]:
k = 2
sol = [1] * (k + 2)
rep = sol[:k]
rep

[1, 1]

In [18]:
'bcd' in 'abcde'

True

In [35]:
dico2 = {'oui': 5, 'nonsd': 4, 'yess' : 6, 'no': 4}

In [54]:
X = list(dico2.keys())

In [55]:
X

['oui', 'nonsd', 'yess', 'no']

In [50]:
def sort_seq(all_seq):
    sorted_seqs = []
    longest = []
    for seq in all_seq:
        if len(seq) not in longest:
            longest.append(len(seq))
    longest.sort(reverse=True)
    for length in longest:
        tmp = []
        for seq in all_seq:
            if len(seq) == length:
                tmp.append(seq)
        tmp = sorted(tmp)
        for to_add in tmp:
            sorted_seqs.append(to_add)
            
    return sorted_seqs

In [51]:
sort_seq(X)

['nonsd', 'yess', 'oui', 'no']

In [49]:
sorted(['a', 'ab', 'ba', 'b'])

['a', 'ab', 'b', 'ba']

In [56]:
X.remove('oui')
X

['nonsd', 'yess', 'no']

In [58]:
seq1 = ['A', 'B', 'C', 'D', 'A']
seq2 = ['C', 'A', 'A']
all seq2 in seq1

SyntaxError: invalid syntax (<ipython-input-58-5de2bfbeddf5>, line 3)

In [82]:
seq1 = 'AAB'
seq2 = 'ABCA'

In [83]:
def is_in_seq(seq1, seq2):
    # Input : strings !
    # Return True if all element of the the seq1 is in seq2
    list1 = list(seq1)
    list2 = list(seq2)
    counter = 0
    for char in list1:
        for y in range(len(list2)):
            if char == list2[y]:
                list2 = list2[y+1:]
                counter += 1
                print(list2)
                break
    if counter == len(list1):
        return True
    else:
        return False

In [84]:
is_in_seq(seq1, seq2)  # Should be false

['B', 'C', 'A']
[]

False

In [87]:
np.log2(2)

1.0